<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProseccoPong"
        tools:targetApi="31" >
        <activity
            android:name=".ProseccoGameViewActivity"
            android:exported="false"
            android:label="@string/title_activity_prosecco_game_view"
            android:theme="@style/Theme.ProseccoPong" />
        <activity
            android:name=".EnterNameActivity"
            android:exported="false" /> <!-- Aktivitet för SurfaceViewActivity -->
        <activity
            android:name=".ClassicGameViewActivity"
            android:exported="false" >

            <!-- Intent-filter för att starta aktiviteten -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Aktivitet för ClassicHighscoreActivity -->
        <activity
            android:name=".HighscoreActivity"
            android:exported="false" /> <!-- Aktivitet för MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>